@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
    

body {
    height: 100vh;
    overflow: scroll;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header {
    display: flex;
    background-color: #1f2937;
    color: white;
    font-size: 24px;
    padding-left: 175px;
    padding-right: 175px;
    align-items: center;
    font-weight: bold;
}

ul {
    list-style-type: none;
    display: flex;
    list-style: none;
    gap: 16px;
    
}

.header-links {
    margin-left: auto;
    font-weight: 100;
    display: flex;
    
}

.header-links a {
    text-decoration: none;
    color: gray;
    font-size: 18px;
}

.section-one {
    padding-left: 175px;
    padding-right: 175px;
    background-color: #1f2937;
    display: flex;
    flex-direction: row;
}

.section-one-left {
    width: 50%;
    margin-top: 100px;
    margin-bottom: 100px;
}
.section-one-right {
    margin-top: 100px;
}

.main-text {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
    margin-right: 50px;
}

.section-one-text {
    font-size: 18px;
    color: lightgray;
    margin-right: 120px;
}

button {
    background-color: #3882f6;
    color: #F9FAF8;
    border-radius: 8px;
    width: 125px;
    height: 35px;
    font-size: 18px;
    border: none;
    margin-top: 10px;
}

img {
    width: 500px;
    height: 225px;
}

.pic {
    margin-top: 100px;
}

.top-text {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.boxes {
    padding-left: 175px;
    padding-right: 175px;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.box {
    border: 5px solid #3882f6;
    border-radius: 12px;
    gap: 50px;
    width: 200px;
    height: 200px;
}

.text-for-boxes {
    margin-top: 10px;
    padding-left: 225px;
    padding-right: 225px;
    display: flex;
    justify-content: center;
    gap: 50px;
    padding-bottom: 100px;
}

.box-text {
    flex-wrap: wrap;
    font-size: 18px;
    width: 215px;
    text-align: center;
}

.section-two {
    background-color: white;
    padding-bottom: 100px;
}

.section-three {
    padding-top: 100px;
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}

.quote-text {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 250px;
    padding-right: 250px;
    
}

.thor-text {
    text-align: right;
    padding-right: 250px;
    margin-bottom: 100px;
}

